footer {
    background-color: var(--bg-accent);
    padding: 4rem 5% 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2.5rem;
    /* text-align: center; */
}

.footer-brand h2 {
    font-size: 1.5rem;
    color: var(--primary-blue);
    font-weight: 700;
    align-items: start;
    text-align: start;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.footer-nav ul li a {
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 500;
    font-size: 0.95rem;
    transition: color 0.3s ease;
}

.footer-nav ul li a:hover {
    color: var(--text-primary);
}

.footer-bottom {
    width: 100%;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    align-items: center;
    text-align: center;
}

.footer-bottom p {
    color: var(--text-muted);
    font-size: 0.85rem;
    font-weight: 500;
}

.footer-bottom .footer-name {
    color: var(--primary-blue);
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    footer {
        padding: 3rem 5% 1.5rem;
    }
    
    .footer-container {
        gap: 2rem;
    }
}
